.elementor-811
  .elementor-element.elementor-element-d77a8d0
  > .elementor-container {
  max-width: 520px;
}

.elementor-811
  .elementor-element.elementor-element-d77a8d0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-811
  .elementor-element.elementor-element-d77a8d0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2023/01/smoke-stacks-in-industry-against-sky-e1673760843403.jpg");
  background-position: 0px 30%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}

.elementor-811
  .elementor-element.elementor-element-d77a8d0
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(
    0deg,
    var(--e-global-color-226b4d3) 0%,
    var(--e-global-color-2b5744a) 100%
  );
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-811 .elementor-element.elementor-element-d77a8d0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 100px;
  padding: 200px 0px 0px 0px;
}

.elementor-811
  .elementor-element.elementor-element-8c86700.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}

.elementor-811
  .elementor-element.elementor-element-8c86700
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}

.elementor-811 .elementor-element.elementor-element-9736ad9 {
  margin-top: 0px;
  margin-bottom: -100px;
}

.elementor-811
  .elementor-element.elementor-element-52fda89.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}

.elementor-811
  .elementor-element.elementor-element-52fda89:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-811
  .elementor-element.elementor-element-52fda89
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background: linear-gradient(90deg, #f78d20 0%, #c5282c 100%);
}

.elementor-811
  .elementor-element.elementor-element-52fda89
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 0px 40px 0px;
}

.elementor-811
  .elementor-element.elementor-element-52fda89
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-811
  .elementor-element.elementor-element-2cd829d
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(5px / 2);
}

.elementor-811
  .elementor-element.elementor-element-2cd829d
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(5px / 2);
}

.elementor-811
  .elementor-element.elementor-element-2cd829d
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(5px / 2);
  margin-left: calc(5px / 2);
}

.elementor-811
  .elementor-element.elementor-element-2cd829d
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-5px / 2);
  margin-left: calc(-5px / 2);
}

body.rtl
  .elementor-811
  .elementor-element.elementor-element-2cd829d
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-5px / 2);
}

body:not(.rtl)
  .elementor-811
  .elementor-element.elementor-element-2cd829d
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-5px / 2);
}

.elementor-811
  .elementor-element.elementor-element-2cd829d
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-accent);
  transition: color 0.3s;
}

.elementor-811
  .elementor-element.elementor-element-2cd829d
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-accent);
  transition: fill 0.3s;
}

.elementor-811 .elementor-element.elementor-element-2cd829d {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}

.elementor-811
  .elementor-element.elementor-element-2cd829d
  .elementor-icon-list-icon {
  padding-right: 5px;
}

.elementor-811
  .elementor-element.elementor-element-2cd829d
  .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
  transition: color 0.3s;
}

.elementor-811 .elementor-element.elementor-element-8d6a5be {
  text-align: center;
}

.elementor-811
  .elementor-element.elementor-element-8d6a5be
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-b8c4b5d-font-family), Sans-serif;
  font-size: var(--e-global-typography-b8c4b5d-font-size);
  font-weight: var(--e-global-typography-b8c4b5d-font-weight);
  text-transform: var(--e-global-typography-b8c4b5d-text-transform);
  line-height: var(--e-global-typography-b8c4b5d-line-height);
  letter-spacing: var(--e-global-typography-b8c4b5d-letter-spacing);
  word-spacing: var(--e-global-typography-b8c4b5d-word-spacing);
}

.elementor-811
  .elementor-element.elementor-element-8d6a5be
  > .elementor-widget-container {
  margin: 0px 0px -10px 0px;
}

.elementor-811 .elementor-element.elementor-element-6d01319 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-accent);
  --divider-border-width: 2px;
}

.elementor-811
  .elementor-element.elementor-element-6d01319
  .elementor-divider-separator {
  width: 60px;
  margin: 0 auto;
  margin-center: 0;
}

.elementor-811 .elementor-element.elementor-element-6d01319 .elementor-divider {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.elementor-811
  .elementor-element.elementor-element-144d413d
  > .elementor-container {
  max-width: 1200px;
}

.elementor-811 .elementor-element.elementor-element-144d413d {
  padding: 100px 0px 100px 0px;
}

.elementor-811 .elementor-element.elementor-element-ce29b62 {
  text-align: center;
}

.elementor-811
  .elementor-element.elementor-element-ce29b62
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-2a72c5f-font-family), Sans-serif;
  font-size: var(--e-global-typography-2a72c5f-font-size);
  font-weight: var(--e-global-typography-2a72c5f-font-weight);
  text-transform: var(--e-global-typography-2a72c5f-text-transform);
  line-height: var(--e-global-typography-2a72c5f-line-height);
  letter-spacing: var(--e-global-typography-2a72c5f-letter-spacing);
  word-spacing: var(--e-global-typography-2a72c5f-word-spacing);
}

.elementor-811 .elementor-element.elementor-element-14a82d63 {
  text-align: center;
}

.elementor-811
  .elementor-element.elementor-element-14a82d63
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  text-transform: var(--e-global-typography-secondary-text-transform);
  line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-811
  .elementor-element.elementor-element-14a82d63
  > .elementor-widget-container {
  margin: 0px 0px -10px 0px;
}

.elementor-811 .elementor-element.elementor-element-055ae7b {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-accent);
  --divider-border-width: 2px;
}

.elementor-811
  .elementor-element.elementor-element-055ae7b
  .elementor-divider-separator {
  width: 60px;
  margin: 0 auto;
  margin-center: 0;
}

.elementor-811 .elementor-element.elementor-element-055ae7b .elementor-divider {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.elementor-811 .elementor-element.elementor-element-58edc1f0 {
  text-align: center;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-811
  .elementor-element.elementor-element-58edc1f0
  > .elementor-widget-container {
  padding: 0% 24% 0% 24%;
}

.elementor-811
  .elementor-element.elementor-element-aedd42c
  > .elementor-container {
  max-width: 1200px;
}

.elementor-811
  .elementor-element.elementor-element-aedd42c
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}

.elementor-811 .elementor-element.elementor-element-aedd42c {
  margin-top: 20px;
  margin-bottom: 0px;
}

.elementor-811
  .elementor-element.elementor-element-5bd1c13a
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 20px 0px 0px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 0px;
}

.elementor-811
  .elementor-element.elementor-element-5bd1c13a
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-811
  .elementor-element.elementor-element-ef62a9d
  .jeg-elementor-kit.jkit-icon-box
  .jkit-icon-box-wrapper {
  text-align: left;
  background-color: var(--e-global-color-1feb05a);
  padding: 35px 35px 25px 35px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.elementor-811
  .elementor-element.elementor-element-ef62a9d.jkit-equal-height-enable,
.elementor-811
  .elementor-element.elementor-element-ef62a9d.jkit-equal-height-enable
  .elementor-widget-container,
.elementor-811
  .elementor-element.elementor-element-ef62a9d.jkit-equal-height-enable
  .jeg-elementor-kit.jkit-icon-box,
.elementor-811
  .elementor-element.elementor-element-ef62a9d.jkit-equal-height-enable
  .jeg-elementor-kit.jkit-icon-box
  .jkit-icon-box-wrapper {
  height: 100%;
}

.elementor-811
  .elementor-element.elementor-element-ef62a9d
  .jeg-elementor-kit.jkit-icon-box
  .title {
  margin: 5px 0px 0px 0px;
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-137dbb1-font-family), Sans-serif;
  font-size: var(--e-global-typography-137dbb1-font-size);
  font-weight: var(--e-global-typography-137dbb1-font-weight);
  text-transform: var(--e-global-typography-137dbb1-text-transform);
  line-height: var(--e-global-typography-137dbb1-line-height);
  letter-spacing: var(--e-global-typography-137dbb1-letter-spacing);
  word-spacing: var(--e-global-typography-137dbb1-word-spacing);
}

.elementor-811
  .elementor-element.elementor-element-ef62a9d
  .jeg-elementor-kit.jkit-icon-box
  .icon-box.icon-box-body
  .icon-box-description {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  margin: 0px 0px 10px 0px;
}

.elementor-811
  .elementor-element.elementor-element-ef62a9d
  .jeg-elementor-kit.jkit-icon-box
  .hover-watermark
  i {
  font-size: 100px;
}

.elementor-811
  .elementor-element.elementor-element-ef62a9d
  .jeg-elementor-kit.jkit-icon-box
  .hover-watermark
  svg {
  width: 100px;
}

.elementor-811
  .elementor-element.elementor-element-ef62a9d
  .jeg-elementor-kit.jkit-icon-box
  .icon-box
  > .icon {
  color: var(--e-global-color-accent);
  width: 4px;
}

.elementor-811
  .elementor-element.elementor-element-ef62a9d
  .jeg-elementor-kit.jkit-icon-box
  .icon-box
  > .icon
  svg {
  fill: var(--e-global-color-accent);
  width: 42px;
}

.elementor-811
  .elementor-element.elementor-element-ef62a9d
  .jeg-elementor-kit.jkit-icon-box
  .icon-box
  > .icon
  i {
  font-size: 42px;
}

.elementor-811
  .elementor-element.elementor-element-ef62a9d
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-811
  .elementor-element.elementor-element-64b8ac89
  > .elementor-element-populated {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}

.elementor-811
  .elementor-element.elementor-element-64b8ac89
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-811
  .elementor-element.elementor-element-805e547
  .jeg-elementor-kit.jkit-icon-box
  .jkit-icon-box-wrapper {
  text-align: left;
  background-color: var(--e-global-color-primary);
  padding: 35px 35px 25px 35px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.elementor-811
  .elementor-element.elementor-element-805e547.jkit-equal-height-enable,
.elementor-811
  .elementor-element.elementor-element-805e547.jkit-equal-height-enable
  .elementor-widget-container,
.elementor-811
  .elementor-element.elementor-element-805e547.jkit-equal-height-enable
  .jeg-elementor-kit.jkit-icon-box,
.elementor-811
  .elementor-element.elementor-element-805e547.jkit-equal-height-enable
  .jeg-elementor-kit.jkit-icon-box
  .jkit-icon-box-wrapper {
  height: 100%;
}

.elementor-811
  .elementor-element.elementor-element-805e547
  .jeg-elementor-kit.jkit-icon-box
  .title {
  margin: 5px 0px 0px 0px;
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-137dbb1-font-family), Sans-serif;
  font-size: var(--e-global-typography-137dbb1-font-size);
  font-weight: var(--e-global-typography-137dbb1-font-weight);
  text-transform: var(--e-global-typography-137dbb1-text-transform);
  line-height: var(--e-global-typography-137dbb1-line-height);
  letter-spacing: var(--e-global-typography-137dbb1-letter-spacing);
  word-spacing: var(--e-global-typography-137dbb1-word-spacing);
}

.elementor-811
  .elementor-element.elementor-element-805e547
  .jeg-elementor-kit.jkit-icon-box
  .icon-box.icon-box-body
  .icon-box-description {
  color: var(--e-global-color-026a526);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  margin: 0px 0px 10px 0px;
}

.elementor-811
  .elementor-element.elementor-element-805e547
  .jeg-elementor-kit.jkit-icon-box
  .hover-watermark
  i {
  font-size: 100px;
}

.elementor-811
  .elementor-element.elementor-element-805e547
  .jeg-elementor-kit.jkit-icon-box
  .hover-watermark
  svg {
  width: 100px;
}

.elementor-811
  .elementor-element.elementor-element-805e547
  .jeg-elementor-kit.jkit-icon-box
  .icon-box
  > .icon {
  color: var(--e-global-color-accent);
  width: 4px;
}

.elementor-811
  .elementor-element.elementor-element-805e547
  .jeg-elementor-kit.jkit-icon-box
  .icon-box
  > .icon
  svg {
  fill: var(--e-global-color-accent);
  width: 42px;
}

.elementor-811
  .elementor-element.elementor-element-805e547
  .jeg-elementor-kit.jkit-icon-box
  .icon-box
  > .icon
  i {
  font-size: 42px;
}

.elementor-811
  .elementor-element.elementor-element-805e547
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-811
  .elementor-element.elementor-element-23c35bba:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-811
  .elementor-element.elementor-element-23c35bba
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}

.elementor-811
  .elementor-element.elementor-element-23c35bba
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 20px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 20px;
}

.elementor-811
  .elementor-element.elementor-element-23c35bba
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-811
  .elementor-element.elementor-element-c41a52b
  .jeg-elementor-kit.jkit-icon-box
  .jkit-icon-box-wrapper {
  text-align: left;
  background-color: var(--e-global-color-accent);
  padding: 35px 35px 25px 35px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.elementor-811
  .elementor-element.elementor-element-c41a52b.jkit-equal-height-enable,
.elementor-811
  .elementor-element.elementor-element-c41a52b.jkit-equal-height-enable
  .elementor-widget-container,
.elementor-811
  .elementor-element.elementor-element-c41a52b.jkit-equal-height-enable
  .jeg-elementor-kit.jkit-icon-box,
.elementor-811
  .elementor-element.elementor-element-c41a52b.jkit-equal-height-enable
  .jeg-elementor-kit.jkit-icon-box
  .jkit-icon-box-wrapper {
  height: 100%;
}

.elementor-811
  .elementor-element.elementor-element-c41a52b
  .jeg-elementor-kit.jkit-icon-box
  .title {
  margin: 5px 0px 0px 0px;
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-137dbb1-font-family), Sans-serif;
  font-size: var(--e-global-typography-137dbb1-font-size);
  font-weight: var(--e-global-typography-137dbb1-font-weight);
  text-transform: var(--e-global-typography-137dbb1-text-transform);
  line-height: var(--e-global-typography-137dbb1-line-height);
  letter-spacing: var(--e-global-typography-137dbb1-letter-spacing);
  word-spacing: var(--e-global-typography-137dbb1-word-spacing);
}

.elementor-811
  .elementor-element.elementor-element-c41a52b
  .jeg-elementor-kit.jkit-icon-box
  .icon-box.icon-box-body
  .icon-box-description {
  color: var(--e-global-color-1feb05a);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  margin: 0px 0px 10px 0px;
}

.elementor-811
  .elementor-element.elementor-element-c41a52b
  .jeg-elementor-kit.jkit-icon-box
  .hover-watermark
  i {
  font-size: 100px;
}

.elementor-811
  .elementor-element.elementor-element-c41a52b
  .jeg-elementor-kit.jkit-icon-box
  .hover-watermark
  svg {
  width: 100px;
}

.elementor-811
  .elementor-element.elementor-element-c41a52b
  .jeg-elementor-kit.jkit-icon-box
  .icon-box
  > .icon {
  color: var(--e-global-color-secondary);
  width: 4px;
}

.elementor-811
  .elementor-element.elementor-element-c41a52b
  .jeg-elementor-kit.jkit-icon-box
  .icon-box
  > .icon
  svg {
  fill: var(--e-global-color-secondary);
  width: 42px;
}

.elementor-811
  .elementor-element.elementor-element-c41a52b
  .jeg-elementor-kit.jkit-icon-box
  .icon-box
  > .icon
  i {
  font-size: 42px;
}

.elementor-811
  .elementor-element.elementor-element-c41a52b
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-811
  .elementor-element.elementor-element-608f415f
  > .elementor-container {
  max-width: 1290px;
}

.elementor-811 .elementor-element.elementor-element-608f415f {
  margin-top: 50px;
  margin-bottom: 0px;
}

.elementor-811
  .elementor-element.elementor-element-238be6c3
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-811 .elementor-element.elementor-element-6b4d2dc9 iframe {
  height: 868px;
  filter: brightness(100%) contrast(100%) saturate(65%) blur(0px)
    hue-rotate(0deg);
}

.elementor-811
  .elementor-element.elementor-element-6b4d2dc9
  > .elementor-widget-container {
  border-radius: 3px 0px 0px 3px;
}

.elementor-811
  .elementor-element.elementor-element-4c12a10f.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}

.elementor-811
  .elementor-element.elementor-element-4c12a10f:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-811
  .elementor-element.elementor-element-4c12a10f
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}

.elementor-811
  .elementor-element.elementor-element-4c12a10f
  > .elementor-element-populated,
.elementor-811
  .elementor-element.elementor-element-4c12a10f
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-811
  .elementor-element.elementor-element-4c12a10f
  > .elementor-background-slideshow {
  border-radius: 0px 3px 3px 0px;
}

.elementor-811
  .elementor-element.elementor-element-4c12a10f
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 50px 50px 50px 50px;
}

.elementor-811
  .elementor-element.elementor-element-4c12a10f
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-811
  .elementor-element.elementor-element-0aef2df
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-2a72c5f-font-family), Sans-serif;
  font-size: var(--e-global-typography-2a72c5f-font-size);
  font-weight: var(--e-global-typography-2a72c5f-font-weight);
  text-transform: var(--e-global-typography-2a72c5f-text-transform);
  line-height: var(--e-global-typography-2a72c5f-line-height);
  letter-spacing: var(--e-global-typography-2a72c5f-letter-spacing);
  word-spacing: var(--e-global-typography-2a72c5f-word-spacing);
}

.elementor-811
  .elementor-element.elementor-element-0989636
  .elementor-heading-title {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  text-transform: var(--e-global-typography-secondary-text-transform);
  line-height: var(--e-global-typography-secondary-line-height);
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-811 .elementor-element.elementor-element-8c86700 {
    width: 100%;
  }

  .elementor-811 .elementor-element.elementor-element-52fda89 {
    width: 100%;
  }

  .elementor-811 .elementor-element.elementor-element-5bd1c13a {
    width: 50%;
  }

  .elementor-811 .elementor-element.elementor-element-64b8ac89 {
    width: 50%;
  }

  .elementor-811 .elementor-element.elementor-element-23c35bba {
    width: 100%;
  }

  .elementor-811 .elementor-element.elementor-element-238be6c3 {
    width: 100%;
  }

  .elementor-811 .elementor-element.elementor-element-4c12a10f {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .elementor-811
    .elementor-element.elementor-element-d77a8d0:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-811
    .elementor-element.elementor-element-d77a8d0
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: center center;
  }

  .elementor-811
    .elementor-element.elementor-element-8c86700
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-52fda89
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-8d6a5be
    .elementor-heading-title {
    font-size: var(--e-global-typography-b8c4b5d-font-size);
    line-height: var(--e-global-typography-b8c4b5d-line-height);
    letter-spacing: var(--e-global-typography-b8c4b5d-letter-spacing);
    word-spacing: var(--e-global-typography-b8c4b5d-word-spacing);
  }

  .elementor-811 .elementor-element.elementor-element-144d413d {
    padding: 80px 10px 80px 10px;
  }

  .elementor-811
    .elementor-element.elementor-element-68e88af5
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-ce29b62
    .elementor-heading-title {
    font-size: var(--e-global-typography-2a72c5f-font-size);
    line-height: var(--e-global-typography-2a72c5f-line-height);
    letter-spacing: var(--e-global-typography-2a72c5f-letter-spacing);
    word-spacing: var(--e-global-typography-2a72c5f-word-spacing);
  }

  .elementor-811
    .elementor-element.elementor-element-14a82d63
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }

  .elementor-811 .elementor-element.elementor-element-58edc1f0 {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-811
    .elementor-element.elementor-element-58edc1f0
    > .elementor-widget-container {
    padding: 0% 10% 0% 10%;
  }

  .elementor-811 .elementor-element.elementor-element-aedd42c {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .elementor-811
    .elementor-element.elementor-element-5bd1c13a
    > .elementor-element-populated {
    margin: 0px 15px 30px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-ef62a9d
    .jeg-elementor-kit.jkit-icon-box
    .title {
    font-size: var(--e-global-typography-137dbb1-font-size);
    line-height: var(--e-global-typography-137dbb1-line-height);
    letter-spacing: var(--e-global-typography-137dbb1-letter-spacing);
    word-spacing: var(--e-global-typography-137dbb1-word-spacing);
  }

  .elementor-811
    .elementor-element.elementor-element-ef62a9d
    .jeg-elementor-kit.jkit-icon-box
    .icon-box.icon-box-body
    .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-811
    .elementor-element.elementor-element-64b8ac89
    > .elementor-element-populated {
    margin: 0px 0px 30px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
  }

  .elementor-811
    .elementor-element.elementor-element-805e547
    .jeg-elementor-kit.jkit-icon-box
    .title {
    font-size: var(--e-global-typography-137dbb1-font-size);
    line-height: var(--e-global-typography-137dbb1-line-height);
    letter-spacing: var(--e-global-typography-137dbb1-letter-spacing);
    word-spacing: var(--e-global-typography-137dbb1-word-spacing);
  }

  .elementor-811
    .elementor-element.elementor-element-805e547
    .jeg-elementor-kit.jkit-icon-box
    .icon-box.icon-box-body
    .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-811
    .elementor-element.elementor-element-23c35bba
    > .elementor-element-populated {
    margin: 0% 26% 0% 26%;
    --e-column-margin-right: 26%;
    --e-column-margin-left: 26%;
  }

  .elementor-811
    .elementor-element.elementor-element-c41a52b
    .jeg-elementor-kit.jkit-icon-box
    .title {
    font-size: var(--e-global-typography-137dbb1-font-size);
    line-height: var(--e-global-typography-137dbb1-line-height);
    letter-spacing: var(--e-global-typography-137dbb1-letter-spacing);
    word-spacing: var(--e-global-typography-137dbb1-word-spacing);
  }

  .elementor-811
    .elementor-element.elementor-element-c41a52b
    .jeg-elementor-kit.jkit-icon-box
    .icon-box.icon-box-body
    .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-811 .elementor-element.elementor-element-608f415f {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-238be6c3
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-6b4d2dc9
    > .elementor-widget-container {
    border-radius: 0px 0px 3px 3px;
  }

  .elementor-811
    .elementor-element.elementor-element-4c12a10f
    > .elementor-element-populated,
  .elementor-811
    .elementor-element.elementor-element-4c12a10f
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-811
    .elementor-element.elementor-element-4c12a10f
    > .elementor-background-slideshow {
    border-radius: 3px 3px 0px 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-4c12a10f
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 40px 40px 40px 40px;
  }

  .elementor-811
    .elementor-element.elementor-element-0aef2df
    .elementor-heading-title {
    font-size: var(--e-global-typography-2a72c5f-font-size);
    line-height: var(--e-global-typography-2a72c5f-line-height);
    letter-spacing: var(--e-global-typography-2a72c5f-letter-spacing);
    word-spacing: var(--e-global-typography-2a72c5f-word-spacing);
  }

  .elementor-811
    .elementor-element.elementor-element-0989636
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
}

@media (max-width: 767px) {
  .elementor-811
    .elementor-element.elementor-element-d77a8d0:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-811
    .elementor-element.elementor-element-d77a8d0
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: center center;
  }

  .elementor-811 .elementor-element.elementor-element-d77a8d0 {
    padding: 150px 0px 0px 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-8c86700
    > .elementor-element-populated {
    margin: 0px 15px 0px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
  }

  .elementor-811
    .elementor-element.elementor-element-52fda89
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 30px 0px 30px 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-8d6a5be
    .elementor-heading-title {
    font-size: var(--e-global-typography-b8c4b5d-font-size);
    line-height: var(--e-global-typography-b8c4b5d-line-height);
    letter-spacing: var(--e-global-typography-b8c4b5d-letter-spacing);
    word-spacing: var(--e-global-typography-b8c4b5d-word-spacing);
  }

  .elementor-811 .elementor-element.elementor-element-144d413d {
    padding: 50px 5px 70px 5px;
  }

  .elementor-811
    .elementor-element.elementor-element-68e88af5
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-ce29b62
    .elementor-heading-title {
    font-size: var(--e-global-typography-2a72c5f-font-size);
    line-height: var(--e-global-typography-2a72c5f-line-height);
    letter-spacing: var(--e-global-typography-2a72c5f-letter-spacing);
    word-spacing: var(--e-global-typography-2a72c5f-word-spacing);
  }

  .elementor-811
    .elementor-element.elementor-element-14a82d63
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }

  .elementor-811 .elementor-element.elementor-element-58edc1f0 {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-811
    .elementor-element.elementor-element-58edc1f0
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-5bd1c13a
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-ef62a9d
    .jeg-elementor-kit.jkit-icon-box
    .title {
    font-size: var(--e-global-typography-137dbb1-font-size);
    line-height: var(--e-global-typography-137dbb1-line-height);
    letter-spacing: var(--e-global-typography-137dbb1-letter-spacing);
    word-spacing: var(--e-global-typography-137dbb1-word-spacing);
  }

  .elementor-811
    .elementor-element.elementor-element-ef62a9d
    .jeg-elementor-kit.jkit-icon-box
    .icon-box.icon-box-body
    .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-811
    .elementor-element.elementor-element-64b8ac89
    > .elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-805e547
    .jeg-elementor-kit.jkit-icon-box
    .title {
    font-size: var(--e-global-typography-137dbb1-font-size);
    line-height: var(--e-global-typography-137dbb1-line-height);
    letter-spacing: var(--e-global-typography-137dbb1-letter-spacing);
    word-spacing: var(--e-global-typography-137dbb1-word-spacing);
  }

  .elementor-811
    .elementor-element.elementor-element-805e547
    .jeg-elementor-kit.jkit-icon-box
    .icon-box.icon-box-body
    .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-811
    .elementor-element.elementor-element-23c35bba
    > .elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-811
    .elementor-element.elementor-element-c41a52b
    .jeg-elementor-kit.jkit-icon-box
    .title {
    font-size: var(--e-global-typography-137dbb1-font-size);
    line-height: var(--e-global-typography-137dbb1-line-height);
    letter-spacing: var(--e-global-typography-137dbb1-letter-spacing);
    word-spacing: var(--e-global-typography-137dbb1-word-spacing);
  }

  .elementor-811
    .elementor-element.elementor-element-c41a52b
    .jeg-elementor-kit.jkit-icon-box
    .icon-box.icon-box-body
    .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-811 .elementor-element.elementor-element-608f415f {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .elementor-811 .elementor-element.elementor-element-6b4d2dc9 iframe {
    height: 400px;
  }

  .elementor-811
    .elementor-element.elementor-element-4c12a10f
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 35px 35px 35px 35px;
  }

  .elementor-811
    .elementor-element.elementor-element-0aef2df
    .elementor-heading-title {
    font-size: var(--e-global-typography-2a72c5f-font-size);
    line-height: var(--e-global-typography-2a72c5f-line-height);
    letter-spacing: var(--e-global-typography-2a72c5f-letter-spacing);
    word-spacing: var(--e-global-typography-2a72c5f-word-spacing);
  }

  .elementor-811
    .elementor-element.elementor-element-0989636
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
}

@media (min-width: 1025px) {
  .elementor-element.elementor-element-ef62a9d
    .jeg-elementor-kit.jkit-icon-box
    .jkit-icon-box-wrapper {
    display: block;
  }
}

@media (min-width: 1025px) {
  .elementor-element.elementor-element-ef62a9d
    .jeg-elementor-kit.jkit-icon-box
    .jkit-icon-box-wrapper
    .icon-box.icon-box-header {
    margin-right: unset;
    margin-left: unset;
  }
}
