.elementor-806 .elementor-element.elementor-element-da181c6 > .elementor-container {
  max-width: 520px;
}

.elementor-806 .elementor-element.elementor-element-da181c6:not(.elementor-motion-effects-element-type-background), .elementor-806 .elementor-element.elementor-element-da181c6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url("../../2023/01/oil-pipeline-e1673760612825.jpg");
  background-position: 0px 45%;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-806 .elementor-element.elementor-element-da181c6 > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(0deg, var( --e-global-color-226b4d3 ) 0%, var( --e-global-color-2b5744a ) 100%);
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-806 .elementor-element.elementor-element-da181c6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 100px;
  padding: 200px 0px 0px 0px;
}

.elementor-806 .elementor-element.elementor-element-a93b004.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}

.elementor-806 .elementor-element.elementor-element-a93b004 > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}

.elementor-806 .elementor-element.elementor-element-3baf329 {
  margin-top: 0px;
  margin-bottom: -100px;
}

.elementor-806 .elementor-element.elementor-element-f448c4c.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}

.elementor-806 .elementor-element.elementor-element-f448c4c:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-806 .elementor-element.elementor-element-f448c4c > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background: linear-gradient(90deg, #F78D20 0%, #C5282C 100%);
}

.elementor-806 .elementor-element.elementor-element-f448c4c > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 0px 40px 0px;
}

.elementor-806 .elementor-element.elementor-element-f448c4c > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-806 .elementor-element.elementor-element-2a87c5c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(5px/2);
}

.elementor-806 .elementor-element.elementor-element-2a87c5c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(5px/2);
}

.elementor-806 .elementor-element.elementor-element-2a87c5c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(5px/2);
  margin-left: calc(5px/2);
}

.elementor-806 .elementor-element.elementor-element-2a87c5c .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-5px/2);
  margin-left: calc(-5px/2);
}

body.rtl .elementor-806 .elementor-element.elementor-element-2a87c5c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-5px/2);
}

body:not(.rtl) .elementor-806 .elementor-element.elementor-element-2a87c5c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-5px/2);
}

.elementor-806 .elementor-element.elementor-element-2a87c5c .elementor-icon-list-icon i {
  color: var( --e-global-color-accent );
  transition: color 0.3s;
}

.elementor-806 .elementor-element.elementor-element-2a87c5c .elementor-icon-list-icon svg {
  fill: var( --e-global-color-accent );
  transition: fill 0.3s;
}

.elementor-806 .elementor-element.elementor-element-2a87c5c {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}

.elementor-806 .elementor-element.elementor-element-2a87c5c .elementor-icon-list-icon {
  padding-right: 5px;
}

.elementor-806 .elementor-element.elementor-element-2a87c5c .elementor-icon-list-text {
  color: var( --e-global-color-secondary );
  transition: color 0.3s;
}

.elementor-806 .elementor-element.elementor-element-7f45e74 {
  text-align: center;
}

.elementor-806 .elementor-element.elementor-element-7f45e74 .elementor-heading-title {
  color: var( --e-global-color-secondary );
  font-family: var( --e-global-typography-b8c4b5d-font-family ), Sans-serif;
  font-size: var( --e-global-typography-b8c4b5d-font-size );
  font-weight: var( --e-global-typography-b8c4b5d-font-weight );
  text-transform: var( --e-global-typography-b8c4b5d-text-transform );
  line-height: var( --e-global-typography-b8c4b5d-line-height );
  letter-spacing: var( --e-global-typography-b8c4b5d-letter-spacing );
  word-spacing: var( --e-global-typography-b8c4b5d-word-spacing );
}

.elementor-806 .elementor-element.elementor-element-7f45e74 > .elementor-widget-container {
  margin: 0px 0px -10px 0px;
}

.elementor-806 .elementor-element.elementor-element-428cb42 {
  --divider-border-style: solid;
  --divider-color: var( --e-global-color-accent );
  --divider-border-width: 2px;
}

.elementor-806 .elementor-element.elementor-element-428cb42 .elementor-divider-separator {
  width: 60px;
  margin: 0 auto;
  margin-center: 0;
}

.elementor-806 .elementor-element.elementor-element-428cb42 .elementor-divider {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.elementor-806 .elementor-element.elementor-element-16edd4e > .elementor-container {
  max-width: 1200px;
}

.elementor-806 .elementor-element.elementor-element-16edd4e {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 0px 0px;
}

.elementor-806 .elementor-element.elementor-element-d68c593.elementor-column > .elementor-widget-wrap {
  justify-content: flex-end;
}

.elementor-806 .elementor-element.elementor-element-04ea749 .elementor-heading-title {
  font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;
  font-size: var( --e-global-typography-secondary-font-size );
  font-weight: var( --e-global-typography-secondary-font-weight );
  text-transform: var( --e-global-typography-secondary-text-transform );
  line-height: var( --e-global-typography-secondary-line-height );
}

.elementor-806 .elementor-element.elementor-element-04ea749 > .elementor-widget-container {
  margin: 0px 0px -10px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-806 .elementor-element.elementor-element-780db76 {
  --divider-border-style: solid;
  --divider-color: var( --e-global-color-accent );
  --divider-border-width: 2px;
}

.elementor-806 .elementor-element.elementor-element-780db76 .elementor-divider-separator {
  width: 60px;
  margin: 0 auto;
  margin-left: 0;
}

.elementor-806 .elementor-element.elementor-element-780db76 .elementor-divider {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.elementor-806 .elementor-element.elementor-element-d25d189 {
  color: var( --e-global-color-text );
}

.elementor-806 .elementor-element.elementor-element-d25d189 > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}

.elementor-806 .elementor-element.elementor-element-67d6956 > .elementor-container {
  max-width: 1200px;
}

.elementor-806 .elementor-element.elementor-element-67d6956 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(30px/2);
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(30px/2);
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(30px/2);
  margin-left: calc(30px/2);
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-30px/2);
  margin-left: calc(-30px/2);
}

body.rtl .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-30px/2);
}

body:not(.rtl) .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-30px/2);
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-item:not(:last-child):after {
  content: "";
  border-color: var( --e-global-color-b288bab );
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
  border-top-style: solid;
  border-top-width: 1px;
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
  border-left-style: solid;
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
  border-left-width: 1px;
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-icon i {
  color: var( --e-global-color-accent );
  transition: color 0.3s;
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-icon svg {
  fill: var( --e-global-color-accent );
  transition: fill 0.3s;
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d {
  --e-icon-list-icon-size: 16px;
  --icon-vertical-offset: 0px;
  width: auto;
  max-width: auto;
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-icon {
  padding-right: 10px;
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-item > a {
  font-family: var( --e-global-typography-a468c44-font-family ), Sans-serif;
  font-size: var( --e-global-typography-a468c44-font-size );
  font-weight: var( --e-global-typography-a468c44-font-weight );
  line-height: var( --e-global-typography-a468c44-line-height );
  letter-spacing: var( --e-global-typography-a468c44-letter-spacing );
  word-spacing: var( --e-global-typography-a468c44-word-spacing );
}

.elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-text {
  color: var( --e-global-color-primary );
  transition: color 0.3s;
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(30px/2);
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(30px/2);
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(30px/2);
  margin-left: calc(30px/2);
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-30px/2);
  margin-left: calc(-30px/2);
}

body.rtl .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-30px/2);
}

body:not(.rtl) .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-30px/2);
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-item:not(:last-child):after {
  content: "";
  border-color: var( --e-global-color-b288bab );
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
  border-top-style: solid;
  border-top-width: 1px;
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
  border-left-style: solid;
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
  border-left-width: 1px;
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-icon i {
  transition: color 0.3s;
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}

.elementor-806 .elementor-element.elementor-element-68514fc {
  --e-icon-list-icon-size: 16px;
  --icon-vertical-offset: 0px;
  width: var( --container-widget-width, 71% );
  max-width: 71%;
  --container-widget-width: 71%;
  --container-widget-flex-grow: 0;
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-icon {
  padding-right: 0px;
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-item > .elementor-icon-list-text, .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-item > a {
  font-family: var( --e-global-typography-text-font-family ), Sans-serif;
  font-size: var( --e-global-typography-text-font-size );
  font-weight: var( --e-global-typography-text-font-weight );
}

.elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-text {
  color: var( --e-global-color-text );
  transition: color 0.3s;
}

.elementor-806 .elementor-element.elementor-element-68514fc > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-806 .elementor-element.elementor-element-871e340.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-806 .elementor-element.elementor-element-871e340.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-806 .elementor-element.elementor-element-871e340 > .elementor-element-populated {
  margin: 0px 0px 0px 50px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 50px;
}

.elementor-806 .elementor-element.elementor-element-5313837 > .elementor-container {
  max-width: 1200px;
}

.elementor-806 .elementor-element.elementor-element-5313837 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-806 .elementor-element.elementor-element-5949711.elementor-column .elementor-widget-wrap {
  align-items: flex-end;
}

.elementor-806 .elementor-element.elementor-element-5949711.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-end;
  align-items: flex-end;
}

.elementor-806 .elementor-element.elementor-element-324b6c7 img {
  width: 100%;
}

.elementor-806 .elementor-element.elementor-element-324b6c7 {
  width: var( --container-widget-width, 40% );
  max-width: 40%;
  --container-widget-width: 40%;
  --container-widget-flex-grow: 0;
}

.elementor-806 .elementor-element.elementor-element-907f4bf img {
  width: 100%;
  border-style: solid;
  border-width: 0px 0px 0px 30px;
  border-color: var( --e-global-color-secondary );
}

.elementor-806 .elementor-element.elementor-element-907f4bf > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-806 .elementor-element.elementor-element-907f4bf {
  width: var( --container-widget-width, 60% );
  max-width: 60%;
  --container-widget-width: 60%;
  --container-widget-flex-grow: 0;
}

.elementor-806 .elementor-element.elementor-element-62ff3984 > .elementor-container {
  max-width: 1200px;
}

.elementor-806 .elementor-element.elementor-element-62ff3984 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 100px 0px;
}

.elementor-806 .elementor-element.elementor-element-3974545a {
  text-align: center;
}

.elementor-806 .elementor-element.elementor-element-3974545a .elementor-heading-title {
  color: var( --e-global-color-primary );
  font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;
  font-size: var( --e-global-typography-secondary-font-size );
  font-weight: var( --e-global-typography-secondary-font-weight );
  text-transform: var( --e-global-typography-secondary-text-transform );
  line-height: var( --e-global-typography-secondary-line-height );
}

.elementor-806 .elementor-element.elementor-element-3974545a > .elementor-widget-container {
  margin: 0px 0px -10px 0px;
}

.elementor-806 .elementor-element.elementor-element-81ce31b {
  --divider-border-style: solid;
  --divider-color: var( --e-global-color-accent );
  --divider-border-width: 2px;
}

.elementor-806 .elementor-element.elementor-element-81ce31b .elementor-divider-separator {
  width: 60px;
  margin: 0 auto;
  margin-center: 0;
}

.elementor-806 .elementor-element.elementor-element-81ce31b .elementor-divider {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.elementor-806 .elementor-element.elementor-element-6cd284d9 > .elementor-container {
  max-width: 1200px;
}

.elementor-806 .elementor-element.elementor-element-6cd284d9 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.elementor-bc-flex-widget .elementor-806 .elementor-element.elementor-element-2bbf0023.elementor-column .elementor-widget-wrap {
  align-items: space-between;
}

.elementor-806 .elementor-element.elementor-element-2bbf0023.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: space-between;
  align-items: space-between;
}

.elementor-806 .elementor-element.elementor-element-2bbf0023 > .elementor-element-populated {
  margin: 0px 20px 0px 0px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 0px;
}

.elementor-806 .elementor-element.elementor-element-35771937 > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}

.elementor-806 .elementor-element.elementor-element-4cc2971 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.elementor-806 .elementor-element.elementor-element-0c5b7fd > .elementor-element-populated {
  margin: 0px 20px 0px 0px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 0px;
}

.elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart {
  text-align: left;
}

.elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart .pie-chart-title {
  color: var( --e-global-color-primary );
  font-family: var( --e-global-typography-137dbb1-font-family ), Sans-serif;
  font-size: var( --e-global-typography-137dbb1-font-size );
  font-weight: var( --e-global-typography-137dbb1-font-weight );
  text-transform: var( --e-global-typography-137dbb1-text-transform );
  line-height: var( --e-global-typography-137dbb1-line-height );
  letter-spacing: var( --e-global-typography-137dbb1-letter-spacing );
  word-spacing: var( --e-global-typography-137dbb1-word-spacing );
  margin: 15px 0px 5px 0px;
}

.elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart .pie-chart-description {
  color: var( --e-global-color-text );
  font-family: var( --e-global-typography-text-font-family ), Sans-serif;
  font-size: var( --e-global-typography-text-font-size );
  font-weight: var( --e-global-typography-text-font-weight );
  margin: 0px 0px 0px 0px;
}

.elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart .pie-chart-wrapper {
  width: 150px;
  height: 150px;
}

.elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart .pie-chart-content {
  color: #08172E;
  font-family: var( --e-global-typography-d8f29dc-font-family ), Sans-serif;
  font-size: var( --e-global-typography-d8f29dc-font-size );
  font-weight: var( --e-global-typography-d8f29dc-font-weight );
  text-transform: var( --e-global-typography-d8f29dc-text-transform );
  line-height: var( --e-global-typography-d8f29dc-line-height );
  letter-spacing: var( --e-global-typography-d8f29dc-letter-spacing );
  word-spacing: var( --e-global-typography-d8f29dc-word-spacing );
}

.elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart .pie-chart-content svg {
  fill: #08172E;
}

.elementor-806 .elementor-element.elementor-element-4336460 > .elementor-widget-container {
  margin: 0px 0px -15px 0px;
}

.elementor-806 .elementor-element.elementor-element-4336460 {
  width: var( --container-widget-width, 87% );
  max-width: 87%;
  --container-widget-width: 87%;
  --container-widget-flex-grow: 0;
}

.elementor-806 .elementor-element.elementor-element-b70bcdf > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}

.elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart {
  text-align: left;
}

.elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart .pie-chart-title {
  color: var( --e-global-color-primary );
  font-family: var( --e-global-typography-137dbb1-font-family ), Sans-serif;
  font-size: var( --e-global-typography-137dbb1-font-size );
  font-weight: var( --e-global-typography-137dbb1-font-weight );
  text-transform: var( --e-global-typography-137dbb1-text-transform );
  line-height: var( --e-global-typography-137dbb1-line-height );
  letter-spacing: var( --e-global-typography-137dbb1-letter-spacing );
  word-spacing: var( --e-global-typography-137dbb1-word-spacing );
  margin: 15px 0px 5px 0px;
}

.elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart .pie-chart-description {
  color: var( --e-global-color-text );
  font-family: var( --e-global-typography-text-font-family ), Sans-serif;
  font-size: var( --e-global-typography-text-font-size );
  font-weight: var( --e-global-typography-text-font-weight );
  margin: 0px 0px 0px 0px;
}

.elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart .pie-chart-wrapper {
  width: 150px;
  height: 150px;
}

.elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart .pie-chart-content {
  color: #08172E;
  font-family: var( --e-global-typography-d8f29dc-font-family ), Sans-serif;
  font-size: var( --e-global-typography-d8f29dc-font-size );
  font-weight: var( --e-global-typography-d8f29dc-font-weight );
  text-transform: var( --e-global-typography-d8f29dc-text-transform );
  line-height: var( --e-global-typography-d8f29dc-line-height );
  letter-spacing: var( --e-global-typography-d8f29dc-letter-spacing );
  word-spacing: var( --e-global-typography-d8f29dc-word-spacing );
}

.elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart .pie-chart-content svg {
  fill: #08172E;
}

.elementor-806 .elementor-element.elementor-element-dc57245 > .elementor-widget-container {
  margin: 0px 0px -15px 0px;
}

.elementor-806 .elementor-element.elementor-element-dc57245 {
  width: var( --container-widget-width, 87% );
  max-width: 87%;
  --container-widget-width: 87%;
  --container-widget-flex-grow: 0;
}

.elementor-806 .elementor-element.elementor-element-1d85d595 > .elementor-element-populated {
  margin: 0px 0px 0px 20px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 20px;
}

.elementor-806 .elementor-element.elementor-element-43df145f > .elementor-widget-container {
  padding: 10px 0px 0px 0px;
}

.elementor-806 .elementor-element.elementor-element-6ab3adfa > .elementor-container {
  max-width: 1200px;
}

.elementor-806 .elementor-element.elementor-element-6ab3adfa {
  margin-top: 50px;
  margin-bottom: 0px;
}

.elementor-806 .elementor-element.elementor-element-6bd235ed.elementor-column > .elementor-widget-wrap {
  justify-content: center;
}

.elementor-806 .elementor-element.elementor-element-6bd235ed > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}

.elementor-806 .elementor-element.elementor-element-d39b40a .elementor-heading-title {
  font-family: var( --e-global-typography-dd35ce7-font-family ), Sans-serif;
  font-size: var( --e-global-typography-dd35ce7-font-size );
  font-weight: var( --e-global-typography-dd35ce7-font-weight );
  text-transform: var( --e-global-typography-dd35ce7-text-transform );
  line-height: var( --e-global-typography-dd35ce7-line-height );
  letter-spacing: var( --e-global-typography-dd35ce7-letter-spacing );
  word-spacing: var( --e-global-typography-dd35ce7-word-spacing );
}

.elementor-806 .elementor-element.elementor-element-d39b40a > .elementor-widget-container {
  margin: 0px 20px -5px 0px;
}

.elementor-806 .elementor-element.elementor-element-d39b40a {
  width: auto;
  max-width: auto;
  align-self: center;
}

.elementor-806 .elementor-element.elementor-element-173829b6 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 17px;
  --grid-column-gap: 14px;
  --grid-row-gap: 0px;
  width: auto;
  max-width: auto;
}

.elementor-806 .elementor-element.elementor-element-173829b6 .elementor-widget-container {
  text-align: left;
}

.elementor-806 .elementor-element.elementor-element-173829b6 .elementor-social-icon {
  background-color: #06283D00;
  --icon-padding: 0.8em;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var( --e-global-color-b288bab );
}

.elementor-806 .elementor-element.elementor-element-173829b6 .elementor-social-icon i {
  color: var( --e-global-color-accent );
}

.elementor-806 .elementor-element.elementor-element-173829b6 .elementor-social-icon svg {
  fill: var( --e-global-color-accent );
}

.elementor-806 .elementor-element.elementor-element-173829b6 .elementor-social-icon:hover {
  background-color: var( --e-global-color-accent );
  border-color: var( --e-global-color-accent );
}

.elementor-806 .elementor-element.elementor-element-173829b6 .elementor-social-icon:hover i {
  color: var( --e-global-color-secondary );
}

.elementor-806 .elementor-element.elementor-element-173829b6 .elementor-social-icon:hover svg {
  fill: var( --e-global-color-secondary );
}

@media(min-width: 768px) {
  .elementor-806 .elementor-element.elementor-element-d68c593 {
      width: 100%;
  }

  .elementor-806 .elementor-element.elementor-element-871e340 {
      width: 49%;
  }
}

@media(max-width: 1024px) {
  .elementor-806 .elementor-element.elementor-element-da181c6:not(.elementor-motion-effects-element-type-background), .elementor-806 .elementor-element.elementor-element-da181c6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-position:center center;
  }

  .elementor-806 .elementor-element.elementor-element-a93b004 > .elementor-element-populated {
      margin: 0px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-f448c4c > .elementor-element-populated {
      margin: 0px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-7f45e74 .elementor-heading-title {
      font-size: var( --e-global-typography-b8c4b5d-font-size );
      line-height: var( --e-global-typography-b8c4b5d-line-height );
      letter-spacing: var( --e-global-typography-b8c4b5d-letter-spacing );
      word-spacing: var( --e-global-typography-b8c4b5d-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-16edd4e {
      padding: 80px 10px 0px 10px;
  }

  .elementor-806 .elementor-element.elementor-element-04ea749 .elementor-heading-title {
      font-size: var( --e-global-typography-secondary-font-size );
      line-height: var( --e-global-typography-secondary-line-height );
  }

  .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-a468c44-font-size );
      line-height: var( --e-global-typography-a468c44-line-height );
      letter-spacing: var( --e-global-typography-a468c44-letter-spacing );
      word-spacing: var( --e-global-typography-a468c44-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-item > .elementor-icon-list-text, .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-text-font-size );
  }

  .elementor-806 .elementor-element.elementor-element-68514fc {
      --container-widget-width: 76%;
      --container-widget-flex-grow: 0;
      width: var( --container-widget-width, 76% );
      max-width: 76%;
  }

  .elementor-806 .elementor-element.elementor-element-871e340 > .elementor-element-populated {
      margin: 30px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-324b6c7 {
      --container-widget-width: 40%;
      --container-widget-flex-grow: 0;
      width: var( --container-widget-width, 40% );
      max-width: 40%;
  }

  .elementor-806 .elementor-element.elementor-element-907f4bf img {
      width: 100%;
  }

  .elementor-806 .elementor-element.elementor-element-907f4bf > .elementor-widget-container {
      margin: 0px 0px 0px 0px;
  }

  .elementor-806 .elementor-element.elementor-element-62ff3984 {
      padding: 80px 10px 80px 10px;
  }

  .elementor-806 .elementor-element.elementor-element-3974545a .elementor-heading-title {
      font-size: var( --e-global-typography-secondary-font-size );
      line-height: var( --e-global-typography-secondary-line-height );
  }

  .elementor-806 .elementor-element.elementor-element-0c5b7fd.elementor-column > .elementor-widget-wrap {
      justify-content: center;
  }

  .elementor-806 .elementor-element.elementor-element-0c5b7fd > .elementor-element-populated {
      margin: 0px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart {
      text-align: center;
  }

  .elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart .pie-chart-title {
      font-size: var( --e-global-typography-137dbb1-font-size );
      line-height: var( --e-global-typography-137dbb1-line-height );
      letter-spacing: var( --e-global-typography-137dbb1-letter-spacing );
      word-spacing: var( --e-global-typography-137dbb1-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart .pie-chart-description {
      font-size: var( --e-global-typography-text-font-size );
  }

  .elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart .pie-chart-content {
      font-size: var( --e-global-typography-d8f29dc-font-size );
      line-height: var( --e-global-typography-d8f29dc-line-height );
      letter-spacing: var( --e-global-typography-d8f29dc-letter-spacing );
      word-spacing: var( --e-global-typography-d8f29dc-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-4336460 {
      --container-widget-width: 64%;
      --container-widget-flex-grow: 0;
      width: var( --container-widget-width, 64% );
      max-width: 64%;
  }

  .elementor-806 .elementor-element.elementor-element-b70bcdf.elementor-column > .elementor-widget-wrap {
      justify-content: center;
  }

  .elementor-806 .elementor-element.elementor-element-b70bcdf > .elementor-element-populated {
      margin: 0px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart {
      text-align: center;
  }

  .elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart .pie-chart-title {
      font-size: var( --e-global-typography-137dbb1-font-size );
      line-height: var( --e-global-typography-137dbb1-line-height );
      letter-spacing: var( --e-global-typography-137dbb1-letter-spacing );
      word-spacing: var( --e-global-typography-137dbb1-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart .pie-chart-description {
      font-size: var( --e-global-typography-text-font-size );
  }

  .elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart .pie-chart-content {
      font-size: var( --e-global-typography-d8f29dc-font-size );
      line-height: var( --e-global-typography-d8f29dc-line-height );
      letter-spacing: var( --e-global-typography-d8f29dc-letter-spacing );
      word-spacing: var( --e-global-typography-d8f29dc-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-dc57245 {
      --container-widget-width: 64%;
      --container-widget-flex-grow: 0;
      width: var( --container-widget-width, 64% );
      max-width: 64%;
  }

  .elementor-806 .elementor-element.elementor-element-1d85d595 > .elementor-element-populated {
      margin: 0px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
      padding: 30px 0px 0px 0px;
  }

  .elementor-806 .elementor-element.elementor-element-6ab3adfa {
      margin-top: 0px;
      margin-bottom: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-d39b40a .elementor-heading-title {
      font-size: var( --e-global-typography-dd35ce7-font-size );
      line-height: var( --e-global-typography-dd35ce7-line-height );
      letter-spacing: var( --e-global-typography-dd35ce7-letter-spacing );
      word-spacing: var( --e-global-typography-dd35ce7-word-spacing );
  }
}

@media(max-width: 767px) {
  .elementor-806 .elementor-element.elementor-element-da181c6:not(.elementor-motion-effects-element-type-background), .elementor-806 .elementor-element.elementor-element-da181c6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
      background-position:center center;
  }

  .elementor-806 .elementor-element.elementor-element-da181c6 {
      padding: 150px 0px 0px 0px;
  }

  .elementor-806 .elementor-element.elementor-element-a93b004 > .elementor-element-populated {
      margin: 0px 15px 0px 15px;
      --e-column-margin-right: 15px;
      --e-column-margin-left: 15px;
  }

  .elementor-806 .elementor-element.elementor-element-f448c4c > .elementor-element-populated {
      margin: 0px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
      padding: 30px 0px 30px 0px;
  }

  .elementor-806 .elementor-element.elementor-element-7f45e74 .elementor-heading-title {
      font-size: var( --e-global-typography-b8c4b5d-font-size );
      line-height: var( --e-global-typography-b8c4b5d-line-height );
      letter-spacing: var( --e-global-typography-b8c4b5d-letter-spacing );
      word-spacing: var( --e-global-typography-b8c4b5d-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-16edd4e {
      padding: 50px 5px 0px 5px;
  }

  .elementor-806 .elementor-element.elementor-element-04ea749 .elementor-heading-title {
      font-size: var( --e-global-typography-secondary-font-size );
      line-height: var( --e-global-typography-secondary-line-height );
  }

  .elementor-806 .elementor-element.elementor-element-608deba {
      width: 100%;
  }

  .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
      padding-bottom: calc(30px/2);
  }

  .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
      margin-top: calc(30px/2);
  }

  .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
      margin-right: calc(30px/2);
      margin-left: calc(30px/2);
  }

  .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items.elementor-inline-items {
      margin-right: calc(-30px/2);
      margin-left: calc(-30px/2);
  }

  body.rtl .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
      left: calc(-30px/2);
  }

  body:not(.rtl) .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
      right: calc(-30px/2);
  }

  .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-806 .elementor-element.elementor-element-e9aeb1d .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-a468c44-font-size );
      line-height: var( --e-global-typography-a468c44-line-height );
      letter-spacing: var( --e-global-typography-a468c44-letter-spacing );
      word-spacing: var( --e-global-typography-a468c44-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-e9aeb1d > .elementor-widget-container {
      margin: 0px 0px 20px 0px;
  }

  .elementor-806 .elementor-element.elementor-element-e9aeb1d {
      width: auto;
      max-width: auto;
  }

  .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
      padding-bottom: calc(35px/2);
  }

  .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
      margin-top: calc(35px/2);
  }

  .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
      margin-right: calc(35px/2);
      margin-left: calc(35px/2);
  }

  .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items.elementor-inline-items {
      margin-right: calc(-35px/2);
      margin-left: calc(-35px/2);
  }

  body.rtl .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
      left: calc(-35px/2);
  }

  body:not(.rtl) .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
      right: calc(-35px/2);
  }

  .elementor-806 .elementor-element.elementor-element-68514fc {
      --e-icon-list-icon-size: 6px;
      --e-icon-list-icon-align: left;
      --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
      width: var( --container-widget-width, 48% );
      max-width: 48%;
      --container-widget-width: 48%;
      --container-widget-flex-grow: 0;
  }

  .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-item > .elementor-icon-list-text, .elementor-806 .elementor-element.elementor-element-68514fc .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-text-font-size );
  }

  .elementor-806 .elementor-element.elementor-element-871e340 > .elementor-element-populated {
      margin: 20px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-907f4bf img {
      border-width: 0px 0px 0px 20px;
  }

  .elementor-806 .elementor-element.elementor-element-62ff3984 {
      padding: 30px 5px 70px 5px;
  }

  .elementor-806 .elementor-element.elementor-element-3974545a .elementor-heading-title {
      font-size: var( --e-global-typography-secondary-font-size );
      line-height: var( --e-global-typography-secondary-line-height );
  }

  .elementor-806 .elementor-element.elementor-element-2bbf0023 > .elementor-element-populated {
      margin: 0px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-0c5b7fd > .elementor-element-populated {
      margin: 0px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart .pie-chart-title {
      font-size: var( --e-global-typography-137dbb1-font-size );
      line-height: var( --e-global-typography-137dbb1-line-height );
      letter-spacing: var( --e-global-typography-137dbb1-letter-spacing );
      word-spacing: var( --e-global-typography-137dbb1-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart .pie-chart-description {
      font-size: var( --e-global-typography-text-font-size );
  }

  .elementor-806 .elementor-element.elementor-element-4336460 .jeg-elementor-kit.jkit-pie-chart .pie-chart-content {
      font-size: var( --e-global-typography-d8f29dc-font-size );
      line-height: var( --e-global-typography-d8f29dc-line-height );
      letter-spacing: var( --e-global-typography-d8f29dc-letter-spacing );
      word-spacing: var( --e-global-typography-d8f29dc-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-b70bcdf > .elementor-element-populated {
      margin: 30px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart .pie-chart-title {
      font-size: var( --e-global-typography-137dbb1-font-size );
      line-height: var( --e-global-typography-137dbb1-line-height );
      letter-spacing: var( --e-global-typography-137dbb1-letter-spacing );
      word-spacing: var( --e-global-typography-137dbb1-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart .pie-chart-description {
      font-size: var( --e-global-typography-text-font-size );
  }

  .elementor-806 .elementor-element.elementor-element-dc57245 .jeg-elementor-kit.jkit-pie-chart .pie-chart-content {
      font-size: var( --e-global-typography-d8f29dc-font-size );
      line-height: var( --e-global-typography-d8f29dc-line-height );
      letter-spacing: var( --e-global-typography-d8f29dc-letter-spacing );
      word-spacing: var( --e-global-typography-d8f29dc-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-1d85d595 > .elementor-element-populated {
      padding: 30px 0px 0px 0px;
  }

  .elementor-806 .elementor-element.elementor-element-43df145f > .elementor-widget-container {
      padding: 0px 0px 0px 0px;
  }

  .elementor-806 .elementor-element.elementor-element-6ab3adfa {
      margin-top: 0px;
      margin-bottom: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-6bd235ed > .elementor-element-populated {
      margin: 10px 0px 0px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
  }

  .elementor-806 .elementor-element.elementor-element-d39b40a .elementor-heading-title {
      font-size: var( --e-global-typography-dd35ce7-font-size );
      line-height: var( --e-global-typography-dd35ce7-line-height );
      letter-spacing: var( --e-global-typography-dd35ce7-letter-spacing );
      word-spacing: var( --e-global-typography-dd35ce7-word-spacing );
  }

  .elementor-806 .elementor-element.elementor-element-d39b40a > .elementor-widget-container {
      margin: 0px 0px 10px 0px;
  }

  .elementor-806 .elementor-element.elementor-element-173829b6 .elementor-widget-container {
      text-align: center;
  }
}

@media(max-width: 1024px) and (min-width:768px) {
  .elementor-806 .elementor-element.elementor-element-a93b004 {
      width:100%;
  }

  .elementor-806 .elementor-element.elementor-element-f448c4c {
      width: 100%;
  }

  .elementor-806 .elementor-element.elementor-element-d68c593 {
      width: 100%;
  }

  .elementor-806 .elementor-element.elementor-element-871e340 {
      width: 100%;
  }

  .elementor-806 .elementor-element.elementor-element-2bbf0023 {
      width: 100%;
  }

  .elementor-806 .elementor-element.elementor-element-1d85d595 {
      width: 100%;
  }
}
